*{
    font-family:  sans-serif;
    align-items: center;
}

button{
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

p {
    margin-top: 15px;
    padding: 10px;
    background-color: #e0f2f1;
    border-left: 4px solid #00796b;
    columns: 2;
    font-size: 20px;
}


 nav{
    background-color: #f2f2f2;
    margin-right: 60px;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 10px;
}